<style>
input[type=checkbox]:checked + a.strikethrough{
  text-decoration: line-through;
}
.btn { width: 60%; color: red; font-size: 200%; }
</style>
<script>
function displayImage(url, displayId) {
  image = document.getElementById(displayId);
  if (url=='') {
    image.innerHTML = '';
  } else {

  image.innerHTML = "<img src='" + url + "' />";
  }
}
</script>
<div class="row">
	<div class="col-lg-12">
		<h3>Games for Trade</h3>
		<p>Among <a href="http://boardgamegeek.com/collection/user/ParkinT" target="_blank">our large collection of Board Games</a>, there are some we no longer spend our time playing.</p>
<p>In August, 2017 the entire set of games that were listed here for trade have been donated to youth by way of CoolStuff Games.</p>
</div>
