<!DOCTYPE html>
<html>
    <head>
      <title><%=@@page[:title] %></title>
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <!-- Font Awesome -->
               <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
		<!-- JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                  <!-- Bootstrap -->
                  <!-- Latest compiled and minified CSS -->
                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

                  <!-- Optional theme -->
                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

                  <!-- Latest compiled and minified JavaScript -->
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.12/dist/clipboard.min.js"></script>
 </head>
<style>
.bottom-feeder { margin-bottom: 0px; min-height: 100%; }
a.leader { font-size: 120%; color: darkblue; }
.footer { text-align: center; }
</style>
    <body>
          <div class="container">

        <!-- Static navbar -->
              <nav class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="sr-only">Navigation</span>
                                <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                              </button>
                                    <a class="navbar-brand" href="/">Websembly</a>
                                  </div>
                                <div class="navbar-collapse collapse">
                                  <ul class="nav navbar-nav">
                            <li><a class="leadaer">Home Of:&nbsp;</a></li>
                            <li><a href="http://goo.gl/iC43kt">Mastering Git</a></li>
                            <li><a href="http://vimamin.com" title="Get your Daily Dose of Vi practice">Vim-A-Min</a></li>
                            <li><a href="http://slackidasical.com" title="Curated Collectcion of Slack Bots">Slackidasical</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock"></i><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
      <li><a href="/login/form">Login</a></li>
    <li class="divider"></li>
  <li><a href="/logout">Logout</a></li>
                          </ul>
                  </li>

        </ul>
      </div><!--/.nav-collapse -->
  </nav>

        <div>
  <%if @error then %>
<div class="alert alert-error"><%=@error%></div>
  <% end %>
  <%= yield %>
</div>

<div class="row bottom-feeder">
<div class="sm-col-3"></div>
<div class="sm-col-6">
<footer>&copy; 2016 Webembly, LLC</footer>
</div>
<div class="sm-col-3"></div>
</div>

  </div>
                   </body>
                  </html>

